<img id="gif" src="https://media.giphy.com/media/Xc9T2HUmmmxDfPATae/giphy.gif" alt="Crayons">

<h1><span class="t">T</span><span class="h">H</span><span class="e1">E</span> <span class="w">W</span><span class="o">O</span><span class="r">R</span><span class="d">D</span> <span class="d2">D</span><span class="e2">E</span><span class="f">F</span><span class="i">I</span><span class="n">N</span><span class="w3">E</span><span class="r">R</span></h1>

<h3>Available Words</h3>


<% if @words.any? %>

<% @words.each do |word| %>
<p><a href="/words/<%= word.id %>"><%= word.name %></a><br></p>
<% end %>

<% else %>
<p>There are currently no words to display.</p>
<% end %>
<br>
<a href="/words/new" id="wordbutton" class="btn-success main-button">Add a new word</a>
<br>

<img src="/kermit.png" alt="Kermit the Frog, chillin">
