
* {
  font-family: 'Chilanka', cursive;
}
.delete{
  margin-top: 560px;
}
.add-definition{
  margin: 0 0 60px 0;
}


.main-button {
  padding: 15px 25px !important;
  background-color: #4f98ca;
  text-decoration: none !important;
  color: white !important;
}

.container {
  padding-top: 80px;
  text-align:center;
  padding-right: 100px !important;
  padding-left: 100px !important;

}


body {
  background-color: #ffffff;
}


h1{
  font-size: 8rem;
}

.t{
  color: #134c67;
}

.h{
  color: #7cb2cc;
}

.e1{
  color:#db553e;
}

.w{
  color: #ecca60;
}

.o{
  color: #636363;
}

.r1{
  color: #134c67;
}

.d{
  color: #7cb2cc;
}

.e2{
  color: #db553e;
}

.f{
  color: #db553e;
}

.i{
  color: #ecca60;
}

.n{
  color: #636363;
}

.e3{
  color: #134c67;
}

.r2{
  color: #db553e;
}
